
.timeslot{
  margin-top: 20px;
}

mat-form-field {
  max-width: 600px;
  width: 100%;
}

.flex {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    margin-top: 1.5rem;
  }
}

.default-width {
  max-width: 600px;
  height: 450px;
  overflow-y: auto;
  margin-top: 20px;
}